.tabs{
    margin-right: 60px;  
    --padding-end: 0px;
    --padding-start: 0px;



}

.label{
    font-size: 17px;


}


.icon{
    width: 100px;
    height: 40px;
}

.bottom{
    height: 100px;
}

ion-tab-button {
    --color-selected: #7E57FF;
}