.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


#sentido{
  margin-left: 15px;
  display: flex;
  position: relative
}

.label{
  position: relative;
  margin-right: 5px;
  margin-bottom: 10px;

}

.radio{
  
  position: relative;
  margin-right: 10px;

}

.radios{
  margin-top: -15px
}

.input{
    
    border: 1px solid #D2D9E2;
    margin-bottom: 10px;
    margin-top: 5px;

}

.mesma_linha{
    
  border: 1px solid #D2D9E2;
  margin-bottom: 10px;
  margin-top: 5px;
  position: relative;
  
}

.no-padding{

  padding: 0px

}



ion-item.de_para{
  margin-top: -5px ;
  position: relative;
  --padding-end: 0px;
  --padding-start: 16px;
}