<ion-header>
  <ion-toolbar>
    <ion-title>
      Novo Pesquisador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="pesquisador">

  <ion-item>
      <ion-input  placeholder="Pesquisador"  inputmode="text" class="input" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Supervisor" inputmode="text"  class="input"></ion-input>
  </ion-item>

  </div>

  <ion-list >
    <ion-radio-group>

      <div id="sentido">

        <ion-label>Sentido:</ion-label>

          <ion-item class="radios">     
            <ion-label class="label">1 </ion-label>
            <ion-radio class="radio" slot="start" value="sentido1" checked></ion-radio>
            
          </ion-item>
          <ion-item class="radios">     

            <ion-label class="label">2 </ion-label>
            <ion-radio class="radio"  slot="start" value="sentido2"></ion-radio>

          </ion-item>
      </div>

    </ion-radio-group>
  </ion-list>

  <div id="de_para">

    <ion-item class="no-padding">
      <ion-input  placeholder="De:"  inputmode="text" class= "mesma_linha"></ion-input>
    </ion-item>

    <ion-item class="no-padding">
      <ion-input placeholder="Para:" inputmode="text"  class="mesma_linha"></ion-input>
    </ion-item>

  </div>

</ion-content>

