<ion-header>
  <ion-toolbar>
    <ion-title>
      Novo Pesquisador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="pesq">
  <ion-input  placeholder="Pesquisador"  inputmode="text" class="input" ></ion-input>
 
  <ion-input placeholder="Supervisor" inputmode="text"  class="input"></ion-input>
 
  </div>

  <div class="sentido">

  <ion-label class="label">Sentido:</ion-label>
  
  <ion-checkbox color="primary" class="checkbox"></ion-checkbox>
  
  <ion-label class="label"> 1 </ion-label> 

  <ion-checkbox color="primary" class="checkbox"></ion-checkbox>

  <ion-label class="label"> 2 </ion-label> 

  </div>

<div class="de_para">
  <ion-input  placeholder="De:"  inputmode="text" class="input" ></ion-input>
     
  <ion-input placeholder="Para:" inputmode="text"  class="input"></ion-input>
</div>

  
     
      

</ion-content>

