.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.label{
  padding-left: 5px;
  margin-right: 10px;
  position: relative;
  float: left;

}

.sentido.label{
  margin-left: 15px;
  position: relative;
  float: left;
  border-radius: 5px;
  border: 1px solid #D2D9E2;

  
}

.input{
    
    border: 1px solid #D2D9E2;
    width: 120px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
        
}

.pesquisador{
  display: flex;
  justify-content: center
}

.sentido{
  margin-top: 10px;
  margin-left: 5px;

}

.de_para{
  display: flex;
  justify-content: center;
  margin-top: -5px 

}



