
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #3880FF;
  color: #ffffff;
  font-size: 20px
}

label {
    margin: 0 auto;
    text-align: center;
    align-content: center;

}

.ultimoPesquisador{
  margin-left: 10px;
 

}

.button{
  margin-top: 15px;
  text-align: center;

}










