<ion-header>
  <ion-toolbar>
    <ion-title>
      Novo Pesquisador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="pesquisador">
  <ion-input  placeholder="Pesquisador"  inputmode="text" class="input" ></ion-input>
 
  <ion-input placeholder="Supervisor" inputmode="text"  class="input"></ion-input>
 
  </div>

  <ion-item class="sentido">

    <ion-label class="label">Sentido:</ion-label>
    <ion-label class="label">1</ion-label>
    <ion-radio value="sentido1" checked></ion-radio>
    <ion-label class="label">2</ion-label>
    <ion-radio value="sentido2" checked></ion-radio>

  </ion-item>
  

<div class="de_para">
  <ion-input  placeholder="De:"  inputmode="text" class="input" ></ion-input>
     
  <ion-input placeholder="Para:" inputmode="text"  class="input"></ion-input>
</div>

</ion-content>

