<ion-header>
    <ion-toolbar>
      <ion-title>
         Pesquisa
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
  
    <div class="container">
  
        <div class="pesquisa">
            <ion-button class="pesquisaTamanho"  expand="round">Automóveis (0) </ion-button>
        </div>

        <div class="pesquisa">
            <ion-button class="pesquisaTamanho"  expand="round">Caminhões (0) </ion-button>
        </div>

    </div>



    <div class="concluirEnvios">

      <h1>Concluir Envios</h1>

      <div class="divTipoEnvio">
          <label class="pesados">Pesados</label>
          <label class="leves">Leves</label>

      </div>

      
      <div class="envios">
          <label class="labelEnvios">Enviados</label>
          <label class="contagem" name="enviadoPesado">10</label>
          <label class="contagem" name="enviadoLeve">0</label>

      </div>

      <div class="envios">
        <label class="labelEnvios">Não Enviados</label>
        <label class="contagem" name="naoEnviadoPesado">10</label>
        <label class="contagem" name="naoEnviadoLeve">0</label>
      </div>

      <div class="botao">
          <ion-button class="limparBase" color="danger" expand="round">Limpar Base </ion-button>
    
          <ion-button class="enviarDados" color="success" expand="round">Enviar Dados </ion-button>
      </div>

    </div>
    
    



  </ion-content>
  